@model IEnumerable<CostumeCraze.Auth.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">List Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="font-weight-bold">Id:</label>
            </th>
            <th>
                <label class="font-weight-bold">Image:</label>
            </th>
            <th>
                <label class="font-weight-bold">Name:</label>
            </th>
            <th>
                <label class="font-weight-bold">Description:</label>
            </th>
            <th>
                <label class="font-weight-bold">Color:</label>
            </th>
            <th>
                <label class="font-weight-bold">Price:</label>
            </th>
            <th>
                <label class="font-weight-bold">Quantity:</label>
            </th>
            <th>
                <label class="font-weight-bold">Product Type:</label>
            </th>
            <th>
                @*<label class="font-weight-bold">User Profile:</label>*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="costume image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
