@model IEnumerable<CostumeCraze.Auth.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<p>
    <a asp-action="Create">List Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span style="color:white"><label class="font-weight-bold">Id:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Image:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Name:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Description:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Color:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Price:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Quantity:</label></span>
</th>
            <th>
                <span style="color:white"><label class="font-weight-bold">Product Type:</label></span>
</th>
            <th>
                @*<label class="font-weight-bold">User Profile:</label>*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img src="@item.ImageUrl" height="170" width="130" alt="costume image" />
            </td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.Name)</span>
            </td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.Description)</span>
</td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.Color)</span>
</td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.Price)</span>
</td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.Quantity)</span>
</td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.ProductType.Name)</span>
</td>
            <td>
                <span style="color:darkorange">@Html.DisplayFor(modelItem => item.UserProfile.Email)</span>
</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
